html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  padding-top: 100px;
  user-select: none;
}

.piano{
  width: 70vw;
  height: 36.857142vw;
  margin-left: 15vw;

}

.hull {
  rect {
    fill: #27274f;
  }

  text{
    fill: #dfdfdd;
  }
}
.board{

  transition: .6s;

  svg{
    width:245vw;
    height: 26.857142vw;

  }
}

.piano-key{
  stroke : #000000;
  stroke-width: 2px;

  .base{
    fill: #efefef;
  }

  .adjacent{
    fill: #101010;
  }

  .next-pressed, .prev-pressed{
    fill: transparent;
    stroke:transparent;
    pointer-events:none;
  }

  &[data-is-pressed=true] polygon{
    transform: translate(2px,2px);
  }

  &[data-is-pressed=true] + .piano-key .next-pressed{
    fill: #101010;
    stroke: #101010;

  }

  &[data-is-pressed=true] + .piano-key .prev-pressed{
    fill: #efefef;
    stroke: #efefef;

  }

}



.octave text{
  text-anchor: middle;
  font-size: 24px;
}

.octave .adjacent+text{
  fill: white;
}
